.main{
  height: 100vh;
  background-color: rgb(8, 205, 146);
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleBox{  
  position: absolute;
  top: 10%;
  font-size: 50px;
  font-family: monospace;
  color: rgb(36, 23, 63);
  font-weight: bolder;
}
.box{
  height: 300px;
  width: 800px;
  border: 5px solid rgb(232, 232, 53);
  background-color: rgb(175, 157, 157);
  padding: 40px;
  display: flex;
}

.display{
  height: 110%;
  width: 50%;
  display: block;

}
button{
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  width: 105px;
  margin: 0 5px 10px 10px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 30px;
  background-color: rgb(67, 67, 67);
  border-radius: 5px;
}
button:hover{
  color: rgb(25, 210, 210);
}
button:active{
  background-color: rgb(195, 198, 197);
}
.btns{
  width: 50%;
}
.info{
  font-size: 20px;
  font-weight: bolder;
}
.powerBox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
}
.powerButton{
  display: none;
}
.labelOne{
  display: block;
  height: 25px;
  width: 60px;
  background-color: black;
  cursor: pointer;
  position: relative;
  padding: 2px;
}
.labelOne::before{
  height: 25px;
  width: 30px;
  background-color: blue;
  content: '';
  transition: transform 0.3s;
  transform: translateX(30px);
  position: absolute;
}
.powerButton:checked + .labelOne::before{
  transform: translateX(-0px);
}
.bankBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bankButton{
  display: none;
}
.labelTwo{
  height: 25px;
  width: 60px;
  background-color: black;
  padding: 2px;
  position: relative;
  cursor: pointer;

}
.labelTwo::before{
  height: 25px;
  width: 30px;
  background-color: blue;
  position: absolute;
  transition: transform 0.3s;
  content: '';
}
.bankButton:checked + .labelTwo::before{
  transform: translateX(30px);
}
.textBox{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.textDisplay{
  height: 50px;
  width: 300px;
  background-color: rgb(76, 76, 76);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
}
.volumeBox{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="range"]{
  cursor: pointer;
}
